@font-face {
  font-family: "AnkhSanctuary";
  src: url("AnkhSanctuary.ttf") format("truetype");
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  /* outline: 1px solid orchid; */
}

:root {
  --bg-color: #fcfefe;
  --bg-color-2: #ffe5e5;
  --primary-color: #eaf6f6;
  --secondary-color: #66bfbf;
  --accent-color: #f76b8a;
  /* Text Colors */
  --text-clr: #392f2f;

  /* Box Colors */
  --box-clr-1: #ede0c7;
  /* Pale Gold */
  --box-clr-12: #f2cd8b;
  /* Light Orange */
  --box-clr-3: #ffd3b5;
  /* Light Coral */
  --box-clr-4: #f5c1c0;
  /* Mint Green */
  --box-clr-5: #c3a6e7;
  /* Light Purple */
  --box-clr-6: #e3b7ea;
  /* Lavender */
  --box-clr-7: #9cde9b;
  /* Light Green */
  --box-clr-8: #a8e6ce;
  /* Light Salmon */
  --box-clr-9: #b3d1fe;
  /* Light Pink */
  --box-clr-10: #ffaaa4;
  /* Light Peach */
  --box-clr-11: #f7b3d9;
  /* Light Blue */
  --box-clr-2: #f0e9a8;
  /* Pale Yellow */

  --box-text-1: hsl(39, 51%, 39%);
  /* Pale Gold */
  --box-text-12: hsl(38, 80%, 39%);
  /* Light Orange */
  --box-text-3: hsl(24, 100%, 39%);
  /* Light Coral */
  --box-text-4: hsl(6, 55%, 39%);
  /* Mint Green */
  --box-text-5: hsl(268, 55%, 39%);
  /* Light Purple */
  --box-text-6: hsl(290, 57%, 39%);
  /* Lavender */
  --box-text-7: hsl(120, 50%, 39%);
  /* Light Green */
  --box-text-8: hsl(158, 55%, 39%);
  /* Light Salmon */
  --box-text-9: hsl(216, 100%, 39%);
  /* Light Pink */
  --box-text-10: hsl(3, 100%, 39%);
  /* Light Peach */
  --box-text-11: hsl(328, 55%, 39%);
  /* Light Blue */
  --box-text-2: hsl(54, 55%, 39%);
  /* Pale Yellow */
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  /* width:max(50%, 480px); */
  width: fit-content;
  /* max-width: 1000px; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  border-radius: 8px;
  padding: 0.5rem;
  width: 100%;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.logo {
  line-height: 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  /* padding :0.5rem; */
  height: fit-content;
}

.title {
  font-size: 5rem;
  height: fit-content;
  width: 100%;
  padding: 0.8rem 0;
  font-weight: bold;
  font-family: "Popins", sans-serif;
  background-image: linear-gradient(
    to right,
    var(--accent-color),
    #feb47b
  ); /* Define your gradient */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.about {
  font-size: 1.2rem;
  font-family: "Popins", sans-serif;
  color: var(--accent-color);
  font-weight: semi-bold;
}

.score {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.score-container,
.highscore-container {
  width: fit-content;
  background-color: #e7f8f2;
  font-weight: bold;
  padding: 0.3rem;
  text-align: center;
  border-radius: 8px;
  color: var(--secondary-color);
  line-height: 1.3rem;
  border: var(--secondary-color) 1px solid;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

.score-container {
  color: var(--accent-color);
  background-color: var(--bg-color-2);
  border: var(--accent-color) 1px solid;
}

.gameboard {
  width: 90vw;
  height: 90vw;
  max-width: 500px;
  max-height: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  background-color: var(--primary-color);
  border: var(--box-clr-9) 1px solid;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.gameboard > * {
  margin: 0;
  /* Ensure child elements have no margin */
}

.cell {
  display: flex;
  width: calc(25% - 0.5rem);
  justify-content: center;
  align-items: center;
  font-size: 6vw;
  font-weight: bold;
  color: var(--box-text-1);
  background-color: var(--box-clr-1);
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  /* box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1); */
}

.tile {
  position: absolute;
  width: 100px; /* Adjust according to your grid size */
  height: 100px;
  transition: transform 0.2s ease; /* Adjust duration for smooth sliding */
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.modal-content {
  border-radius: 8px;
  background-color: var(--primary-color);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: min(80%, 600px);
  text-align: center;
  position: relative;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.modal-score {
  font-size: 2rem;
  font-weight: bold;
  color: var(--secondary-color);
  text-align: center;
  margin: 1rem;
  font-family: "AnkhSanctuary";
  text-shadow: 2px 2px 10px #66bfbfb3;
}

.modal-score:first-child {
  font-size: min(3rem, 10vw);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.status {
  color: var(--accent-color);
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-weight: bold;
  font-size: 2.5rem;
  margin: 1rem;
  text-transform: uppercase;
  font-family: "AnkhSanctuary";
  text-shadow: 2px 2px 10px rgba(247, 107, 138, 0.7);
}

.reset-button,
.close-button {
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.reset-button:hover,
.close-button:hover {
  color: var(--accent-color);
}

#play-again-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  margin: 1rem;
  outline: none;
  border: 1px solid var(--secondary-color);
  box-shadow: 1px 1px 5px 2px rgba(102, 191, 191, 0.3);
  transition: all 0.3s ease;
}

#play-again-button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.highscore {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.highscore-font {
  font-size: 5rem;
  text-transform: uppercase;
  color: var(--secondary-color);
  font-family: "AnkhSanctuary";
  font-weight: bold;
  letter-spacing: 1rem;
  text-shadow: 2px 2px 15px rgba(102, 191, 191, 0.95);
  animation: achievement 5s forwards ease-in;
}

@keyframes achievement {
  0% {
    transform: translateY(100vh) scale(0.1) rotateY(0deg);
    opacity: 0;
  }
  50% {
    transform: translateY(0) scale(1.3) rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1.3) rotateY(360deg);
    opacity: 0.8;
  }
}

